*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  background-color: #141414;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.container{
  max-width: auto;
  margin: auto;
}

.logo {
  width: 120px;
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.nav-bar {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links{
  padding-left: 0;
  
}

.nav-bar h2{
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li{
  list-style: none;
  text-align: center;
  padding: 5px 0;
}

.nav-links a:hover {
  color: #00bfa6;
  font-weight: bold;
}

.register-btn{
  display: flex;
  flex-direction: column;
  padding: 10px 0 23px 0;
  gap: 10px;
  
}

.Iniciar-sesion{
  padding: 10px 20px;
  border: 2px solid #00bfa6;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Registrarse{
  padding: 10px 20px;
  border: 2px solid #00bfa6;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Registrarse:hover{
  background-color: #00bfa6;
  color: black;
}

.Iniciar-sesion:hover{
  background-color: #00bfa6;
  color: black;
}

h1{
  color: white;
  font-weight: bold;
  font-size: 3em;
}

#inicio {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Descargar{
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 12px;
}

.Descargar:hover{
  background-color: #ffffff;
  color: black;
}

#inicio p{
  display: none;
}

/* .who-we-are {
  background-color: #324456;
  color: white;
}

.who-we-are h1 {
  font-weight: bolder;
}

.who-we-are h2 {
  font-weight: bolder;
  text-decoration: underline;
}

.who-we-are p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.who-we-are-members {
  padding-top: 2%;
  padding-bottom: 0.5%;
  text-align: center;
}

.team-photos {
  letter-spacing: 3rem;
  padding: 1%;
}

.who-we-are-members p {
  font-family: 'Roboto', sans-serif;
}

#about-the-team {
  color:white;
  transition: 0.3s;
  background-color: #131F29;
  border-color: transparent;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  font-weight: bolder;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1.5rem;
}

#about-the-team:hover {
  background-color: #506678;
}

.purpose-mision-vision {
  background-color: #242427;
  display: flex;
  justify-content: center;
  gap: 9rem;
  padding: 1rem 5%;
}

.purpose-mision-vision-box {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
}

.purpose-mision-vision-box h2 {
  text-align: center;
}

.purpose-mision-vision-box p {
  text-align: justify;
} */

#nosotros {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: white;
  padding: 50px 20px;
  text-align: center;
  height: 700px;
  align-items: center;
}

#nosotros h2 {
  font-size: 2.2em;
  margin-bottom: 110px;
}

.equipo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.conocenos{
    margin-top: 30px;
    margin-bottom: 50px;
  }

.conoce-btn{
    color: white;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    background-color: black;
    border: 2px solid #d18b21;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .conoce-btn:hover{
    background-color: #d18b21;
    color: black; 
  }

  #funciones{
    text-align: center;
    color: white;
    margin-top: 57em;
    background-color: #131925;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #funciones h2{
    font-size: 2.2em;
  }

  .proposito-video{
    display: flex;
    margin-top: 50px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .imagen-funciones{
    display: none;
  }

  .video-container{
    flex: 1;

  }

  .video-container iframe{
    width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  padding-right: 30px;
  }

@media (min-width: 928px) {
  .nav-bar{
    flex-direction: row;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-links {
    display: flex;
    gap: 30px;
  }

  .nav-bar h2{
    display: block;
    margin-right: 30px;
  }

  .register-btn{
    flex-direction: row;
    padding: 0;
    gap: 20px;
   
  }

  #inicio p{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  #inicio{
    padding-top: 0px;
  }

  .equipo {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  } 

  .conocenos{
    margin-top: 30px;
    margin-bottom: 0px;
  }

  #funciones{
    margin-top: 0em;
    display: flex;
    flex-direction: row;
  }

  .imagen-funciones{
    display: block;
    flex: 1;
  }
}
