*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container{
  max-width: auto;
  margin: auto;
}

.logo {
  width: 120px;
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.nav-bar {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links{
  padding-left: 0;
}

.nav-bar h2{
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li{
  list-style: none;
  text-align: center;
  padding: 5px 0;
}

.nav-links a:hover {
  color: #00bfa6;
  font-weight: bold;
}

.register-btn{
  display: flex;
  flex-direction: column;
  padding: 10px 0 23px 0;
  gap: 10px;
}

.Iniciar-sesion{
  padding: 10px 20px;
  border: 2px solid #00bfa6;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Registrarse{
  padding: 10px 20px;
  border: 2px solid #00bfa6;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Registrarse:hover{
  background-color: #00bfa6;
  color: black;
}

.Iniciar-sesion:hover{
  background-color: #00bfa6;
  color: black;
}

h1{
  color: white;
  font-weight: bold;
}

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Descargar{
  padding: 10px 20px;
  border: 2px solid #00bfa6;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 12px;
}

.Descargar:hover{
  background-color: #00bfa6;
  color: black;
}

#inicio p{
  display: none;
}

.who-we-are {
  background-color: #324456;
  color: white;
}

.who-we-are h1 {
  font-weight: bolder;
}

.who-we-are h2 {
  font-weight: bolder;
  text-decoration: underline;
}

.who-we-are p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.who-we-are-members {
  padding-top: 2%;
  padding-bottom: 0.5%;
  text-align: center;
}

.team-photos {
  letter-spacing: 3rem;
  padding: 1%;
}

.who-we-are-members p {
  font-family: 'Roboto', sans-serif;
}

#about-the-team {
  color:white;
  transition: 0.3s;
  background-color: #131F29;
  border-color: transparent;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  font-weight: bolder;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1.5rem;
}

#about-the-team:hover {
  background-color: #506678;
}

.purpose-mision-vision {
  background-color: #242427;
  display: flex;
  justify-content: center;
  gap: 9rem;
  padding: 1rem 5%;
}

.purpose-mision-vision-box {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
}

.purpose-mision-vision-box h2 {
  text-align: center;
}

.purpose-mision-vision-box p {
  text-align: justify;
}

@media (min-width: 758px) {
  .nav-bar{
    flex-direction: row;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-links {
    display: flex;
    gap: 30px;
  }

  .nav-bar h2{
    display: block;
  }

  .register-btn{
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }

  #inicio p{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
